@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: all;
  }
  body {
      font-family: 'Inter', sans-serif; }
            .scrollbar-hide::-webkit-scrollbar {
              display: none;
            }
      
            .scrollbar-hide {
              -ms-overflow-style: none;
              /* IE and Edge */
              scrollbar-width: none;
              /* Firefox */     }